  <ul>
  <li><a class="active"><%= link_to 'Home', root_path %></a></li>
  <li><a><%= link_to 'New Bike', new_two_wheeler_path %></a></li>
  <li><a><%= link_to('Logout', destroy_user_session_path, method: :delete) %></a></li>
  </ul>



